.BasicUI .contentmanagement_ContentManagement_3wk64,
.BasicUI .contentmanagement_LibraryContent_ybEU2 {
    padding: 0;
}

.BasicUI .contentmanagement_PageableCarousel_1XRwl {
    margin: 0;
}

.DialogContent.gamepadpagedsettings_PagedSettingsDialog_PageContent_wIOLO {
   padding-bottom: 0;
}

.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppHeader_3_uaa {
    padding-top: 0;
}