:root {
    --volume-preview-translate: 0%;
}

.audio_VolumePopinHidden_1OwmL, .audio_VolumePopin_2iUUM {
    top: auto;
    left: auto;
    right: 8px;
    bottom: 8px;
}


.audio_VolumePopinHidden_1OwmL {
    transform: translateY(150%);
}