:root {
    --ren-tilt-angle: 10deg !important;
    --ren-image-zoom: 1.26 !important;
    --ren-most-recent-offset: 4% !important;
    --ren-view-more-offset: -12% !important;
    --ren-view-more-focus-scale: 0.8 !important;
}