:root {
    --ren-tilt-angle: 20deg !important;
    --ren-image-zoom: 1.56 !important;
    --ren-most-recent-offset: 8.5% !important;
    --ren-view-more-offset: -26% !important;
    --ren-view-more-focus-scale: 0.645 !important;
}