.accountpanel_CurrentUserProfileBackground_UAXd_ .accountpanel_CurrentUserProfileBackgroundImage_1unGU {min-width:195%; min-height:430%; margin-top:-30%;}

.gamepaddialog_GamepadDialogContent_3joNk .DialogBody .gamepaddialog_Field_S-_La:first-child, .gamepaddialog_GamepadDialogContent_InnerWidth_3Xeyd.DialogContent_InnerWidth .gamepaddialog_Field_S-_La:first-child {z-index:0;}

.gamepaddialog_GamepadDialogContent_3joNk {padding-top:6%; min-height:unset;}

.gamepadpage_GamepadPageDialogContent_5ZP0m:not(.gamepadpage_FullWidth_3jAqo) {max-width:100%; max-height:100%; }




