/*Offset the most recent tile*/
.gamepadhome_RecentSection_39tNv 
.basicgamecarousel_BasicGameCarousel_3MdH5
.ReactVirtualized__Grid__innerScrollContainer > div:nth-child(1).gpfocuswithin
{
    transform: translateX(var(--ren-most-recent-offset));
}

/*Tilt 'View More' tile*/
[data-id="GoToLibrary"] {
    transform: skew(var(--ren-tilt-angle));
    transition: transform 0.4s;
}

/*Tilt,scale and offset focused 'View More' tile*/
[data-id="GoToLibrary"].gpfocuswithin  {
     transform: skew(var(--ren-tilt-angle)) scale(1.05) translateX(var(--ren-view-more-offset));    
}

/*Tilt 'View More' tile's frame*/
.gamepadhome_ScrollArea_3PhGY
> .focusring_FocusRingRoot_3PH_X
> .focusring_FocusRing_1IZrQ
{
    transform: skew(var(--ren-tilt-angle)) scaleX(var(--ren-view-more-focus-scale));
}

/*Tilt left game portraits*/
.gamepadhome_RecentSection_39tNv
.basicgamecarousel_BasicGameCarouselItemMediaContainer_1HIFN > div:first-child
{
    transform:skew(var(--ren-tilt-angle));
	transition-duration: 0.4s;
}

/*Tilt and scale focused tile*/
.gamepadhome_RecentSection_39tNv
.basicgamecarousel_BasicGameCarouselItemMediaContainer_1HIFN.gpfocuswithin > div:first-child
{
    transform: skew(var(--ren-tilt-angle)) scale(1.02);
}


/*Untilt the compatibility icons and before class (used by download status theme)*/
.gamepadhome_RecentSection_39tNv 
.basicgamecarousel_BasicGameCarousel_3MdH5
.appportrait_LibraryItemOverlayInnerArea_2GRcK > div,
.gamepadhome_RecentSection_39tNv 
.basicgamecarousel_BasicGameCarousel_3MdH5
.appportrait_LibraryItemBox_WYgDg:before
{
    transform: skew(calc(-1*var(--ren-tilt-angle)));
}