/* Writen By XikoCat */
/* 11-2024 */

/* Download Page Base */
/* Parent 1 */
.BasicUI ._1bq4x9pa4-9RLY-dXWUZTp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  margin-top: 40px;
  padding-bottom: 70px;
}

/* Current game info */
/* Child of 1 */
/* Parent 2 */
.BasicUI ._3KDkLoCR8OM8xfdQysKn9t {
  width: 33%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/*no Idea what this div is for
always empy? */
.BasicUI .SEmVpmXrYVl3OxL1sDFTg {
  flex-basis: 0.01%;
  width: 67%;
  max-width: 67%;
}

/* Local Download */
/* Child of 1 */
.BasicUI .E77_ojZbdMlTc1bWOUTC8 {
  flex-basis: 15%;
  width: 67%;
  max-width: 67%;

  display: flex;
  padding: 0px;
  align-items: center;
}

.E77_ojZbdMlTc1bWOUTC8 > div {
  flex: 1 1 auto;
  padding: 0px;
  margin: 0px 10px;
}

.E77_ojZbdMlTc1bWOUTC8:empty {
  flex-basis: 0.01%;
}

/* List "Up Next, Scheduled and Next" */
/* Child of 1*/
.BasicUI ._1l0LmmqDUXH19SjfELddn7 {
  flex-basis: 84.99%;
  width: 67%;
}

/* Image Container */
/* Child of 2 */
.BasicUI ._3mZ2rKd2RECK4q4ufmsDYX {
  width: 100%;
  height: 25%;
  position: relative;
}

/* Image */
.BasicUI ._3WauYi7bNDSGIogMLPVYES {
  order: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

div._1R9r2OBCxAmtuUVrgBEUBw._2E7G8grj_-tgxXbTXs1t2E._2NqL3nV35eJFAu56_Yu-WM {
  transform: unset;
}

/* Graph */
/* Child of 2 */
.BasicUI ._1BxZDLT8KveuJzn-1q4NTP {
  order: 3;
  width: 100%;
  height: 30%;

  position: relative;
  margin-left: unset;
  margin-bottom:40px ;
  -webkit-mask-image: unset;
}

.BasicUI ._1BxZDLT8KveuJzn-1q4NTP ._2-AUyaXfJHWP85tZVENytR {
  position: relative;
}

.BasicUI ._1BxZDLT8KveuJzn-1q4NTP .RfMM3QjbVZCURuo5YTHWD {
  position: relative;
}

/* Stats */
/* Child of 2 */
.BasicUI ._3mdnpmV9S9u27eB5JFwFNk {
  order: 2;
  width: 100%;
  max-width: 100%;
  
  height: 45%;
  padding: 6px 10px 10px 6px;

  display: flex;
  justify-content: flex-start;
  
  flex: 1;
}

/* Current state of download */
.BasicUI ._3mdnpmV9S9u27eB5JFwFNk ._3BdWqJYvZfTohY-twD2i6Q {
  margin-bottom: 0px;
  width: 100%;
  height: 15%;
  flex: 1;
}

/* Stats Div */
.BasicUI ._3mdnpmV9S9u27eB5JFwFNk ._3YaPaCx4aNnu27vUVQekia {
  height: 40%;
  align-items:start;
  flex: 2;
}

/* Stats Container */
._3mdnpmV9S9u27eB5JFwFNk ._3RfkF_ojU07rt0VqjwcYvi {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  margin: 1px;
}

/* Speeds */
._3mdnpmV9S9u27eB5JFwFNk ._5TdA4FjU9OYsTIaHzloD {
  width: 50%;
  padding: 3px 0 0 0;
}

.BasicUI ._3mdnpmV9S9u27eB5JFwFNk ._38T9T2x6JLXEkWadD96esD {
  max-height: 10%;
  flex: 1;
}

.BasicUI .hGZq446tJ_aWpDLU9rRSM {
  height: 7%;
  flex-grow: 0;
  display: flex;
  justify-content: left;
  flex-direction: row;
  padding: 0;
}

/* List Item container*/
.BasicUI .OINnOU8K5HzPe2nzczpZi {
  margin-right: 0px;
  margin-left: 0px;
  border: none;
}

.BasicUI ._3Mbhnlk1Go2j8yCdjthzc7 {
  padding-bottom: 10px;
}

/* List Items */

.BasicUI ._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg {
  padding: 4px;
}

.BasicUI ._1VNuYHM6BPBOJspC6zPf5r {
  padding: 4px;
}

._3ebCJiEl-ybizhZ4avcFw5 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

/* List Item Image */

._2pjdgFqp04LlhgtFS0rQn_ {
  position: absolute;
  opacity: 25%;
}

/*Local Download*/
._1e0BYXBEHVz8VCU-20jRQB {
  max-width: 10%;
}

.WHqhe_U43regmBwEPYX-U {
  max-width: 50%;
}

._1IKbaHLvcciS-EMMYx1WVG {
  max-width: 35%;
}

.BasicUI .StopTransferButton {
  padding: 0;
}
